h1{
	color:#fff;
}

h2{
	color:#fff;
}

.name{
/*	class */
	font-size: 100px;
}

#name {
/*	id */
	font-size: 50px;
}

.button {
	background-color: #42544E;
	border: none;
	color: #fff;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 40px 200px;
	cursor: pointer;
	
}

.button1 {border-radius: 30px;}

.button:hover{
	background: #f1f1f1;
	color: black;
}




*, *::after, *::before {
	box-sizing: border-box;
  }
  
  .modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 1px solid black;
	border-radius: 10px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
  }
  
  .modal.active {
	transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: ;
	text-align: center;
  }
  
  .modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: ;
  }
  
  .modal-header .close-button {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
  }
  
  .modal-body {
	padding: 10px 15px;
  }
  
  #overlay {
	position: fixed;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5);
	pointer-events: none;
  }
  
  #overlay.active {
	opacity: 1;
	pointer-events: all;
  }

  /* bootstrap code*/
  .jumbotron{padding:2rem 1rem;margin-bottom:10rem;background-color:#526E32;border-radius:.0rem}@media (min-width:576px){.jumbotron{padding:4rem 2rem}}
  .jumbotron-fluid{padding-right:0;padding-left:0;border-radius:0}

  .display-3{font-size:4.5rem;font-weight:300;line-height:1.2}

  body {
	padding-top: 0rem;
	margin: 0;